body{
    background-color: #1C1C1C !important;
    color:white;
}

#animacaoFotoPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#fotoPerfilDesenho{    
    border: 6px solid #1C1C1C;
    border-radius: 30px;
    animation: go-back 1s infinite alternate;
}
#fotoPerfilDesenho:hover{
    border: 6px solid #3a2b2bd0;
}

@keyframes go-back {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(0);
    }
}
  