body{
    background-color: #1C1C1C !important;
    color:white;
}

h1, h2{
    font-size: clamp(2em, 1em + 1vw, 1.5em) !important;
}

#animacaoFotoPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#fotoPerfilDesenho{    
    border: 6px solid #1C1C1C;
    border-radius: 30px;
    animation: go-back 1s infinite alternate;
    width: 100%;
    min-width: 100px;
    max-width: 338px;
}
#fotoPerfilDesenho:hover{
    border: 6px solid #3a2b2bd0;
}

@keyframes go-back {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(0);
    }
}

.card{
    min-height: 480px;
}

.card p{
    min-height: 220px;
}

.card h4{
    font-size: clamp(1em, 1em + 1vw, 1.5em);
}

.projectImages{
    width: 100%;
    max-width: 130px;
    height: 130px;
    border-radius: 10px;

    /* 
    //Este código alinha a imagem ao centro
    display: block;
    margin-left: auto;
    margin-right: auto; 
    */
}

.cardsDisplayNone{
    display: none;
}

@media only screen and (max-width: 1201px) {      
    .card{
        min-height: 686px !important;
    }
    .card p{
        /* background-color: red; */
        min-height: 360px !important;
    }
}

@media only screen and (max-width: 765px) {
    .card{
        min-height: 0 !important;
    }          
    .card p{
        min-height: 0 !important;
    }
    #animacaoFotoPerfil{
        height: 65vh;
    }
    .card a{
        width: 100% !important;
    }
}